{% extends "base.html" %}

{% block content %}

    <p>{{ article.title }}</p>
    <p>{{ article.body }}</p>
    <p>{{ article.draft }}</p>
    <p>{{ article.published_date }}</p>
    <p>{{ article.author }}</p>
    <p>{{ article.url }}</p>
    <h3>{{ article.comments }}</h3>

    <p>{{ article.comments.count }}</p>
    {% for comment in article.comments.all %}
    <dl>
        <dt>{{ comment.name }} ({{ comment.created_at }})</dt>
        <dd>{{ comment.message }}</dd>
    </dl>
    {% endfor %}
    <form action="{% url 'create_comment' %}" method="post">
        {% csrf_token %}
        <input type="hidden" name="article" value="{{ article.pk }}">
        Name: <input type="text" name = "name">
        <br><br>
        <textarea rows="4" cols="50" name="message" value = "Leave comment here"></textarea>
        <br>
        <input type="submit" name="submit" value="submit">
    </form>

{% endblock %}